.margin-auto {
    margin: auto !important;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.pink-green {
    background: linear-gradient(to right, rgba(236, 47, 89, 1) 0%, rgba(236, 47, 89, 1) 55%, rgba(19, 208, 166, 1) 56%, rgba(19, 208, 166, 1) 100%) !important;
}

.maps {
    overflow: hidden;
    max-height: 470px;
}

.box-form {
    width: 49%;
    float: left;
    background-color: rgb(236, 47, 89);
}

.contato {
    min-height: 600px;
    width: 50%;
    background-color: rgba(19, 208, 166, 1);
    padding-top: 50px;
    padding-left: 30px;
}

input,
textarea {
    border: none;
    height: 40px;
    padding: 15px;
}

textarea {
    height: 300px;
}

.btn-reset {
    background-color: white;
    color: rgb(231, 21, 137);
}

.btn-submit {
    background-color: rgb(19, 208, 166);
}

@media screen and (max-width: 1600px) {

    .pink-green {
        background: linear-gradient(to right, rgba(236, 47, 89, 1) 0%, rgba(236, 47, 89, 1) 100%) !important;

    }

    .box-form {
        width: 50%;
    }

    .contato {
        width: 50%;
        background-color: rgb(236, 47, 89);
        padding-top: 50px;
        padding-left: 0;
    }
}

@media screen and (max-width: 1366px) {
    .box-form {
        width: 50%;
    }

    .contato {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .pink-green {
        background: linear-gradient(to right, rgba(236, 47, 89, 1) 0%, rgba(236, 47, 89, 1) 100%) !important;

    }
    .contato {
        background-color: rgba(236, 47, 89, 1);
        padding-left: 0;
        margin: 0;
        width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .box-form {
        width: 40vw;
    }
    .contato {
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .box-form {
        width: 80%;
    }
    .contato {
        width: 80%;
    }

    .text-white {
        color: white !important;
    }
}

@media screen and (max-width: 600px) {
    .box-form {
        width: 100vw;
    }
    text-area {
        height: 100px !important;
    }

    .contato {
        background-color: rgba(236, 47, 89, 1);
        padding-left: 0;
        margin: 0;
        width: 100%;
    }
}