@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
.cursive {
    font-family: 'Dancing Script', cursive;
}

.display {
    font-family: 'Poiret One', cursive;
    font-size: 0.6em;
}

.overlock {
    font-family: 'Overlock', cursive;
}

.fs-5 {
    font-size: 3em;
}

html {
    box-sizing: border-box;
}

.pre-pos {
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

.md-none {
    display: none;
}

a, nav a {
    color: #ec2f59 !important;
    text-decoration: none !important;
}

a:hover, nav a:hover {
    color: #b63150 !important;
    text-decoration: none !important;
}

.title {
    font-size: 4em;
}

.text-pink {
    color: #ec2f59;
    text-decoration: none;
    outline: none;
}

.text-pink:hover {
    color: #ec2f59;
    text-decoration: none;
}

.text-pink:active, .text-pink:after{
    border-color: #ec2f59;
    text-decoration: none;
}

.text-black {
    color: black;
}

.text-green {
    color: #13d0a6;
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

.fullscreen {
    min-height: 100vh;
}

.fullview-h {
    min-height: 766px;
    max-height: 1080px;
    height: auto;
}

.fullview-6 {
    min-height: 600px;
    height: auto;
}

.auto-viewh {
    height: auto;
}

.display-grow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.clear {
    clear: both;
}

.miniview-h {
    min-height: 50vh;
    height: auto;
}

.bg-girlane {
    background-image: url(/images/background/gi.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.bg-study {
    background-image: url(/images/background/study2.svg);
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
}

.bg-green,
.bg-blue-footer {
    background-color: rgb(19, 208, 166);
}

.text-light-footer {
    color: white !important;
}

.bg-pink-footer {
    background-color: rgb(236, 47, 89);
}

.bg-pink-line {
    background-image: url(/images/background/line-pink.png);
    background-size: cover !important;
    background-repeat: no-repeat;
}

.bg-pinks-line {
    background-image: url(/images/background/lines-pink.png);
    background-size: cover !important;
    background-repeat: no-repeat;
}

.bg-blue-line {
    background-image: url(/images/background/line-blue.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-profile {
    position: absolute;
    margin-right: 200px;
}

.box-cursos {
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    align-self: center;
}

.testimony {
    width: 350px;
    min-height: 270px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.testimony-photo {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.card-curso {
    display: flex;
    height: 150px;
    align-items: flex-end;
    text-align: center !important;
    vertical-align: middle;
    color: white;
    font-size: 1.8em !important;
    text-shadow: 1px 1px 3px black;
    z-index: 0;
    border: 1px solid white;
}

.card-procedimento {
    width: 150px;
    height: 150px;
    margin: 5px;
    background-color: #ec2f59;
}

.card-procedimento:hover {
    background-color: #f84269;
}

.card-steps {
    width: 200px;
    height: 320px;
    margin: 5px;
    padding: 30px;
}

.no-wrap {
    display: inline;
}

.text-proced {
    font-size: 1.1em;
}

.bg-opacity {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.0) 100%);
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
}

.bg-opacity2 {
    /*background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.0) 100%);*/
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-pink {
    background: linear-gradient(135deg, rgba(236, 47, 89, 0.5) 0%, rgba(255, 255, 255, 1) 50%, rgba(19, 208, 166, 0.5) 100%);
}

.bg-box-cursos {
    background-color: rgb(236, 47, 89);
}

.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: white !important;
}

.bg-img:hover .filtro {
    color: white !important;
    background-color: rgb(255, 255, 255, 0.0);
}

.filtro:hover .v-align-middle {
    display: none;
}

.filtro {
    display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 1.8em;
    filter: opacity(85%);
}

.v-align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.materias {
    width: 550px;
    float: left;
    overflow: hidden;
}

hr {
    background-color: none;
}

.info-curso {
    width: 400px;
    border-radius: 10px;
    overflow: auto;
    padding: 60px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
}

.info-curso table tbody tr {
    padding-bottom: 10px;
}

.thead {
    color: rgb(49, 49, 49);
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 20px;
}

.td-0 {
    width: 10px !important;
    padding-left: 2px;
    padding-right: 5px;
}

.td-1 {
    padding-left: 0px;
}

.td-2 {
    padding-left: 70px;
    ;
}

.td-3 {
    padding-bottom: 10px;
}

.btn-green {
    background: linear-gradient(205deg, rgb(252, 227, 4) 0%, rgb(200, 235, 4) 100%);
    box-shadow: 0px 5px 10px rgba(193, 214, 4, 0.4);
    color: black;
    border: 1px solid rgb(216, 219, 6);
}

.btn-green:hover {
    background: linear-gradient(135deg, rgba(236, 47, 89, 1) 0%, rgb(226, 27, 70) 100%);
    box-shadow: 0px 5px 10px rgba(226, 27, 70, 0.4);
    color: white;
    border: 1px solid rgb(226, 27, 70);
}

.text-shadow {
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.icon-footer {
    font-size: 35px;
    margin-right: 8px;
}

.view-footer {
    height: 100px;
    position: bottom;
    margin-bottom: 0;
}

.font-sm {
    font-size: 13px;
}

.bg-red {
    background-color: rgb(255, 0, 55);
    border: 1px solid rgb(255, 0, 55);
}

.bg-white {
    background-color: white;
}

.bg-bl {
    background-color: rgb(16, 114, 226);
    border: 1px solid rgb(16, 114, 226);
}

.bg-pink1 {
    background-color: rgb(241, 24, 133);
    border: 1px solid rgb(241, 24, 133);
}

.img-automaquiagem {
    background-image: url(/images/procedimentos/automaquiagem.png);
}

.img-cilios {
    background-image: url(/images/procedimentos/cilios.png);
}

.img-maquiagem {
    background-image: url(/images/procedimentos/maquiagem.png);
}

.img-micro-fio {
    background-image: url(/images/procedimentos/microaluna2.jpg);
}

.img-micro-labial {
    background-image: url(/images/procedimentos/micro-labial2.jpg);
}

.img-noiva {
    background-image: url(/images/procedimentos/noiva.png);
}

.whatsapp {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 1px 1px 30px rgb(0, 0, 0, 0.3);
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 20;
}

.instagram {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 1px 1px 30px rgb(0, 0, 0, 0.3);
    position: fixed;
    bottom: 135px;
    right: 50px;
    z-index: 20;
}

.whatsapp img {
    width: 65px;
}

.instagram img {
    width: 70px;
}

@media only screen and (max-width: 1366px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.6em;
    }
    .card-curso {
        font-size: 1.2em !important;
    }
    .bg-study {
        background-image: url(/images/background/study3.png);
        background-size: 600px;
        background-position: right;
        background-repeat: no-repeat;
    }

    .whatsapp {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 1px 1px 30px rgb(0, 0, 0, 0.3);
        position: fixed;
        bottom: 25px;
        right: 50px;
        z-index: 20;
    }
    
    .instagram {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 1px 1px 30px rgb(0, 0, 0, 0.3);
        position: fixed;
        bottom: 75px;
        right: 50px;
        z-index: 20;
    }
    
    .whatsapp img {
        width: 40px;
    }
    
    .instagram img {
        width: 40px;
    }
}

@media only screen and (max-width: 1000px) {
    .bg-girlane {
        background-image: none;
        background: linear-gradient(35deg, rgba(19, 208, 166, 1) 0%, rgba(19, 208, 166, 0.7) 100%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .sm-none {
        display: none;
    }
    .md-none {
        display: block;
    }
}

@media only screen and (max-width: 750px) {
    h2 {
        font-size: 1.2em;
    }
    .miniview-w {
        width: 100vw;
    }
    .card-procedimento {
        margin: 5px;
    }
    .text-white-sm {
        color: white !important;
    }
    .filtro {
        filter: opacity(50%);
    }
    .box-cursos {
        height: 150px;
    }
    .card-curso {
        font-size: 1.2em !important;
    }
    .bg-girlane {
        background-image: none;
        background: linear-gradient(35deg, rgba(19, 208, 166, 1) 0%, rgba(19, 208, 166, 0.7) 100%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .bg-study {
        background-image: none;
        background: linear-gradient(135deg, rgba(236, 47, 89, 1) 0%, rgb(226, 27, 70) 100%);
        color: white !important;
    }
    .text-black {
        color: black;
    }
    .bg-pink {
        background: none;
    }
    .colsm-5 {
        max-width: 100vw;
        margin-top: 100px !important;
        margin-bottom: 100px !important;
        font-size: 1.5em;
        text-align: center;
        padding-top: 0px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .fullview-h {
        min-height: 30vh;
        height: auto;
    }
    .md-none {
        display: block;
    }
    .sm-none {
        display: none;
    }
}

/* ---------------------- VIDEO -----------------------------------*/

.btn-micro {
    border-radius: 0px;
    color: white;
}

.btn-micro:hover {
    background-color: yellowgreen;
}

.header-video {
    /*position: relative; */
    background-image: url("gi.jpeg");
    background-color: #000000;
    height: 90vh;
    min-height: 25rem;
    width: 100%;
    overflow: visible;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover;
  }
  
video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('/images/videos/micro.png') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
